In [4]:
import pandas as pd
actor_names = ['rajesh','biraj', 'paul','bipin']
actor_ages = [52,45,30,34]

In [5]:
series1 = pd.Series(actor_ages, index = actor_names)

In [6]:
series1

rajesh    52
biraj     45
paul      30
bipin     34
dtype: int64

In [7]:
series1.index

Index(['rajesh', 'biraj', 'paul', 'bipin'], dtype='object')

#### converting two list into sigle array we use zip fucntion

In [8]:
new = dict(zip(actor_names,actor_ages))

In [9]:
pd.Series(new)

rajesh    52
biraj     45
paul      30
bipin     34
dtype: int64

#### Head and tails method for the series data

In [10]:
#pd.Series(i for i in range (60))
#we can use range only for pd.Series
int_series = pd.Series(range(60))

In [11]:
int_series.size

60

In [12]:
 len(int_series)

60

#### if we want only some portion of whole data

In [13]:
int_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [14]:
int_series.tail()

55    55
56    56
57    57
58    58
59    59
dtype: int64

In [15]:
#we can also tell how many record we want to see
int_series.head(n = 3)

0    0
1    1
2    2
dtype: int64

In [16]:
int_series.tail(n= 7)

53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

#### Extracting data by index Position

In [17]:
from string import ascii_lowercase

In [18]:
pd.Series(ascii_lowercase)

0    abcdefghijklmnopqrstuvwxyz
dtype: object

In [19]:
letters = list(ascii_lowercase)

In [20]:
#creating panda series from list named as letters
alphabet = pd.Series(letters)
alphabet.head(3)

0    a
1    b
2    c
dtype: object

In [21]:
#1 what is first letter?
#2 What is 11th letter?
#3 what is first four letter?
#4 what are the 10th to 15th letters?
#5 what are last 10th letters?
#1
alphabet[0]

'a'

In [22]:
#2
alphabet[10]

'k'

In [23]:
#pandas series can also be indexed as python lists
#3
alphabet[:3]

0    a
1    b
2    c
dtype: object

In [24]:
#4
alphabet[9 : 15]

9     j
10    k
11    l
12    m
13    n
14    o
dtype: object

In [25]:
#5
alphabet[-10:]

16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

#### accessing value using index label

In [26]:
from string import ascii_uppercase
labeled_alphabet = pd.Series(data = letters) 
#labeled_alphabet = pd.Series(data= letters, index = map(lambda x:"label_"+x,list(ascii_uppercase))) 
#built in .add_prefix("") can edit labels or .add_suffix()
labeled_alphabet = labeled_alphabet.add_prefix("ayush_")

In [27]:
labeled_alphabet.head(3)

ayush_0    a
ayush_1    b
ayush_2    c
dtype: object

In [28]:
 # indexing by position
labeled_alphabet[3]
#indexing by label
labeled_alphabet['ayush_0']

'a'

In [29]:
labeled_alphabet[:'ayush_4']
#doesnot exclude "label_D" while in position indexing 4th element
#from [:4 ] is excluded

ayush_0    a
ayush_1    b
ayush_2    c
ayush_3    d
ayush_4    e
dtype: object

In [30]:
#can use dot notation as well but is limited 
labeled_alphabet.ayush_4

'e'

In [31]:
#boolean expression to access the data
#boolean index must match index of series
labeled_alphabet.loc[[True if i%2 != 0 else False for i in range(26)]]

ayush_1     b
ayush_3     d
ayush_5     f
ayush_7     h
ayush_9     j
ayush_11    l
ayush_13    n
ayush_15    p
ayush_17    r
ayush_19    t
ayush_21    v
ayush_23    x
ayush_25    z
dtype: object

#### Accessing using callables

In [35]:
labeled_alphabet.loc[lambda x: ['ayush_23','ayush_14']]
#boolean mask
#x in lambda x takes the whole series
labeled_alphabet.loc[lambda x: [True for i in range(x.size)]]

ayush_0     a
ayush_1     b
ayush_2     c
ayush_3     d
ayush_4     e
ayush_5     f
ayush_6     g
ayush_7     h
ayush_8     i
ayush_9     j
ayush_10    k
ayush_11    l
ayush_12    m
ayush_13    n
ayush_14    o
ayush_15    p
ayush_16    q
ayush_17    r
ayush_18    s
ayush_19    t
ayush_20    u
ayush_21    v
ayush_22    w
ayush_23    x
ayush_24    y
ayush_25    z
dtype: object

In [41]:
#x takes the whole series
def every_third(x):
    return [True if (i+1)%3==0 else False for i in range(x.size)]
#since x starts from zero we can add 1 for the better result

In [42]:
labeled_alphabet.iloc[every_third] 
#passing a boolean list from the function every_third instead of using 
#lambda x

ayush_2     c
ayush_5     f
ayush_8     i
ayush_11    l
ayush_14    o
ayush_17    r
ayush_20    u
ayush_23    x
dtype: object

#### Selecting with get() method

In [47]:
# .get() can give infromation if label doesnot exist
#if label is not found loc and iloc will give keyError
labeled_alphabet.get('label_nonexisting', default = "cannot find label")

'cannot find label'