In [12]:
import numpy as np
import pandas as pd
alcohol = pd.read_csv('alcohol.csv', usecols =['country','spirit_servings'],index_col = "country", squeeze = True)

In [6]:
#unfunc -> universal function
np.isnan

In [9]:

ser = pd.Series(data = [True, False, None, 2], dtype= float )

In [10]:
np.isnan(ser)

0    False
1    False
2     True
3    False
dtype: bool

In [14]:
# .isnan in numpy returns Boolean
#performing indexing by callable
alcohol[np.isnan]

country
Afghanistan         NaN
Algeria             NaN
Bangladesh          NaN
Bhutan              NaN
Burundi             NaN
North Korea         NaN
Equatorial Guinea   NaN
Eritrea             NaN
Gambia              NaN
Guinea              NaN
Iran                NaN
Kuwait              NaN
Laos                NaN
Libya               NaN
Maldives            NaN
Marshall Islands    NaN
Mauritania          NaN
Monaco              NaN
Nauru               NaN
Pakistan            NaN
San Marino          NaN
Somalia             NaN
Yemen               NaN
Name: spirit_servings, dtype: float64

In [15]:
alcohol[np.isnan].size

23

In [18]:
alcohol.notnull()

country
Afghanistan    False
Albania         True
Algeria        False
Andorra         True
Angola          True
               ...
Venezuela       True
Vietnam         True
Yemen          False
Zambia          True
Zimbabwe        True
Name: spirit_servings, Length: 193, dtype: bool

In [22]:
alcohol.loc[alcohol.notnull()]

country
Albania              132.0
Andorra              138.0
Angola                57.0
Antigua & Barbuda    128.0
Argentina             25.0
                     ...
Vanuatu               18.0
Venezuela              1.0
Vietnam                2.0
Zambia                19.0
Zimbabwe              18.0
Name: spirit_servings, Length: 170, dtype: float64

In [23]:
alcohol.notnull().sum()

170

In [24]:
alcohol.count()

170

In [25]:
#checking the count of null and non-null values
alcohol.isnull().sum() + alcohol.notnull().sum() == alcohol.size

True

In [30]:
alcohol.notna().sum() + alcohol.isna().sum() == alcohol.size

True

In [31]:
type(True)

bool

In [33]:
#method resolution order
bool.__mro__

(bool, int, object)