In [16]:
import pandas as pd
alcohol = pd.read_csv("alcohol.csv", usecols = ["country", "wine_servings"], index_col= "country", squeeze = "True")

In [18]:
fifty_plus = alcohol[alcohol>50]

In [19]:
fifty_plus.head()

country
Albania       54.0
Andorra      312.0
Argentina    221.0
Australia    212.0
Austria      191.0
Name: wine_servings, dtype: float64

In [20]:
fifty_plus.count()

48

In [21]:
fifty_plus.nsmallest(20)

country
Bahamas                51.0
Seychelles             51.0
Albania                54.0
Lithuania              56.0
Poland                 56.0
Estonia                59.0
Gabon                  59.0
Latvia                 62.0
St. Lucia              71.0
Russian Federation     73.0
Cook Islands           74.0
Paraguay               74.0
Iceland                78.0
South Africa           81.0
USA                    84.0
Macedonia              86.0
Bulgaria               94.0
Finland                97.0
Spain                 112.0
Cyprus                113.0
Name: wine_servings, dtype: float64

In [24]:
 fifty_plus.nsmallest(20).describe()

count     20.000000
mean      74.250000
std       19.072921
min       51.000000
25%       58.250000
50%       73.500000
75%       84.500000
max      113.000000
Name: wine_servings, dtype: float64

In [26]:
fifty_plus.nsmallest(20).median()

73.5

### Series Arithematic and fill_value()

In [28]:
# in pandas indices align automatically
#inplace = True modifies the series
alcohol.sort_index(inplace= True)

In [29]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [51]:
more_drinks = pd.Series({"Albania" :11, "Afghanistan":24 , "North korea":33})

In [52]:
alcohol + more_drinks
#as we can see the we added the value 11 to the albania 
#but  all values becomes NaN
#only the key present in both series is added
#cannot add the value to NaN of present series

Afghanistan     NaN
Albania        65.0
Algeria         NaN
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 194, dtype: float64

In [53]:
#to keep the data from the original series we use add method in pandas
#we use fill_value parameter fills  a set value of missing keys 
# to more_drinks and adds the two series
alcohol.add(more_drinks, fill_value = 0)

Afghanistan     24.0
Albania         65.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Length: 194, dtype: float64

In [54]:
#similary other arithematic operator in parameter
alcohol.subtract(more_drinks, fill_value = 0)

Afghanistan    -24.0
Albania         43.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Length: 194, dtype: float64

In [55]:
alcohol.divide(more_drinks, fill_value = 1)

Afghanistan      0.041667
Albania          4.909091
Algeria         14.000000
Andorra        312.000000
Angola          45.000000
                  ...
Venezuela        3.000000
Vietnam          1.000000
Yemen                 NaN
Zambia           4.000000
Zimbabwe         4.000000
Length: 194, dtype: float64

In [57]:
alcohol.multiply(more_drinks, fill_value =1)

Afghanistan     24.0
Albania        594.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Length: 194, dtype: float64

In [58]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [59]:
more_drinks.head()
#although two series are not aligned pandas arithematic operator align according to labels

Albania        11
Afghanistan    24
North korea    33
dtype: int64

### Variance and Standard Deviation
s^2 =Sigma(x - Xmean)^2/(n-1)

In [60]:
alcohol.var()

5796.5256115328575

In [62]:
(alcohol.subtract(alcohol.mean())**2).sum()/(alcohol.count()-1)

5796.5256115328575

In [63]:
# .std() for finding standard variation
alcohol.std()

76.13491716376171